<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/User CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/CSS/User CSS/Userhomepage.css">
    <script src="/JavaScript/User js/Sidenavbar.js"></script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>
    <link rel="stylesheet" href="/CSS/User CSS/SongPlaying.css">
    <script src="/JavaScript/User js/SongPlaying.js"></script>

</head>
<body>              
  <%- include('../includes/sidenav&navbarsUSER.ejs')%>
<div class ="container">
<hr>
    <div class="row">
      <h2>2023</h2>
      <% songs.reverse().forEach(song => { %>
        <div class="card" 
             data-song="/uploads/<%= song.songFileId %>" 
             data-artist="<%= song.artistName %>" 
             data-title="<%= song.songName %>"
             data-lyrics="<%= song.lyrics %>" 
             data-image="/uploads/<%= song.imageFileId %>">
            <img src="/uploads/<%= song.imageFileId %>" alt="<%= song.songName %>">
            <div class="content">
                <h3><%= song.songName %></h3>
                <p><%= song.artistName %></p>
            </div>
        </div>
    <% }) %>
    </div>
    <div class="row">
      <h2>2022</h2>
      <% songs.reverse().forEach(song => { %>
        <div class="card" 
             data-song="/uploads/<%= song.songFileId %>" 
             data-artist="<%= song.artistName %>" 
             data-title="<%= song.songName %>"
             data-lyrics="<%= song.lyrics %>" 
             data-image="/uploads/<%= song.imageFileId %>">
            <img src="/uploads/<%= song.imageFileId %>" alt="<%= song.songName %>">
            <div class="content">
                <h3><%= song.songName %></h3>
                <p><%= song.artistName %></p>
            </div>
        </div>
    <% }) %>
    </div>
    <div class="row">
      <h2>2021</h2>
      <% songs.reverse().forEach(song => { %>
        <div class="card" 
             data-song="/uploads/<%= song.songFileId %>" 
             data-artist="<%= song.artistName %>" 
             data-title="<%= song.songName %>"
             data-lyrics="<%= song.lyrics %>" 
             data-image="/uploads/<%= song.imageFileId %>">
            <img src="/uploads/<%= song.imageFileId %>" alt="<%= song.songName %>">
            <div class="content">
                <h3><%= song.songName %></h3>
                <p><%= song.artistName %></p>
            </div>
        </div>
    <% }) %>
    </div>
<%- include('../includes/SongPlaying.ejs')%>

</body>
</html>
