<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Admin/Admin%20CSS/Sidenavbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>SoundSpot</title>
    <link rel="icon" href="/photo/2.png" type="image/png">
    <link rel="stylesheet" href="/Admin/Admin%20CSS/home.css">
    <link rel="stylesheet" href="/Admin/Admin%20CSS/ManageUsers.css">
    <script src="/Admin/Admin%20JavaScript/Sidenavbar.js"></script>
    <link rel="stylesheet" href="/Admin/Admin%20CSS/songs.css">
    <script src="/Admin/Admin%20JavaScript/songs.js"></script>
    <script src="/Admin/Admin%20JavaScript/german.js"></script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit&hl=en"></script>
</head>
<body>
    <%- include('../includes/sidenav&navbarsADMIN.ejs')%>
        <div class=" main-content">
            <div class="top-content">
                <i class="fa-solid fa-plus" id="plus" title="Add User"></i>
                <div class="top-texts">
                    <div class="top-text">Name</div>
                    <div class="top-text">Artist</div>
                    <div class="top-text">Album</div>
                    <div class="top-text">Release Date</div>
                </div>
                <div class="actions">
                    <div class="checkbox" id="selectAllCheckbox">
                        <input type="checkbox" id="topCheckbox" class="checkbox-input" />
                        <span class="checkbox-custom"></span>
                    </div>
                    <i class="fa-solid fa-trash" title="Delete" id="delete-trash"></i>
                    <i class="fa-solid fa-pen"></i>
                </div>
            </div>
            <div class="list-container">
                <%songs.forEach(song=>{%>
                    <div class="list-item">
                    <div class="content">
                        <i class="fa-solid fa-music"></i>
                      
                        <div class="text"><%=song.songName%></div>
                        <div class="text"><%=song.artistName%></div>
                        <div class="text"><%=song.albumName%></div>
                        <div class="text"><%=song.releaseDate.toDateString() %></div>
                        <input class="custom-checkbox" type="checkbox" id="<%=song._id%>" data-username="<%=song.artistName%>">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>

                <div class="user-info-container">
                    <div class="user-info">
                        <div class="user-icons">
                            <i class="fa-solid fa-info info-icon" data-section="personal" title="Personal Info"
                                style="color: #800080;"></i>
                            <i class="fa-solid fa-clock-rotate-left info-icon" data-section="activity-log-sec"
                                title="Activity Log"></i>
                            <i class="fa-solid fa-user-shield info-icon" data-section="security-log-sec"
                                title="Security"></i>
                        </div>
                        <div class="general-content">
                            <div class="first-sec">
                                <div>
                                    <label>Genre</label>
                                    <span><%=song.genre%></span>
                                </div>
                                <div>
                                    <label>Duration</label>
                                    <span><%= song.duration%></span>
                                </div>
                                <div>
                                    <label>Record label</label>
                                    <span><%= song.recordLabel %></span>
                                </div>
                                <div>
                                    <label>Songwriters</label>
                                    <span>Ed Sheeran, Steve Mac</span>
                                </div>
                                <div>
                                    <label>Producers</label>
                                    <span><%= song.producers%></span>
                                </div>
                            </div>
                            <div class="second-sec">
                                <div>
                                    <label>Composer</label>
                                    <span><%= song.composer %></span>
                                </div>
                                <div>
                                    <label>Release type</label>
                                    <span><%= song.releaseType %></span>
                                </div>
                                <div>
                                    <label>Songwriters</label>
                                    <span><%= song.Songwriters %></span>
                                </div>
                                <div>
                                    <label>Collaborations</label>
                                    <span><%= song.collaborations %></span>
                                </div>
                                <div>
                                    <label>Featured artists</label>
                                    <span><%= song.featuredArtists %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        </div>

        <div class="delete-popup" id="delete-popup">
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete this item?</p>
            <button id="ok-delete" class="btn">OK</button>
            <button id="cancel-delete" class="btn">CANCEL</button>
        </div>

        <div class="select-item-popup">
            <div class="popup-content" id="one-edit">
                <h2>Please select one playlist at a time</h2>
            </div>
        </div>

        <div class="select-item-popup">
            <div class="popup-content" id="select-item">
                <h2>No songs</h2>
            </div>
        </div>

        <div class="select-item-popup">
            <div class="popup-content" id="select-item-popup">
                <h2>Please select an item</h2>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
</body>
</html>